{% extends 'usuarios/base.html' %} 
{% block conteudo %}
<form action="" method="post">
    {% csrf_token %}
        <div class="mt-4 container">
            <div>
                <ul>
                    <li>
                        <div class="card">
                            <div class="card-body align-items-center d-flex flex-column justify-content-between">
                                <h5 class="title">Desk Manager</h5>
                                <img class="logo" src="https://media.canva.com/1/image-resize/1/60_49_100_PNG_F/czM6Ly9tZWRpYS1wcml2YXRlLmNhbnZhLmNvbS9UR0ZMYy9NQUYyc3BUR0ZMYy8xL3AucG5n?osig=AAAAAAAAAAAAAAAAAAAAAM-kQf2gsBBDnWBGw-8W5u0yIX6bAQioh-aPUuouLpEx&exp=1709244650&x-canva-quality=screen_3x&csig=AAAAAAAAAAAAAAAAAAAAAG7mB46qQYzfzPXlfkfz1fdE3RHKY0AArW_CvzWB1sb8" alt="Logo">
                                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="yellow" id="alert" class="bi bi-exclamation-triangle status-icon" viewBox="0 0 16 16">
                                    <path d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.15.15 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.2.2 0 0 1-.054.06.1.1 0 0 1-.066.017H1.146a.1.1 0 0 1-.066-.017.2.2 0 0 1-.054-.06.18.18 0 0 1 .002-.183L7.884 2.073a.15.15 0 0 1 .054-.057m1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767z"/>
                                    <path d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0M7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z"/>
                                </svg>
                                <Button class="status">Intermitente</button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div> 
    </form>
{% endblock %}